#main-inicio{
    width: 100%;
    height:3100px;
	color: #fff;
	background: linear-gradient(45deg,rgb(54, 4, 4), rgb(143, 3, 3), rgb(54, 4, 4),rgb(160, 2, 2) );
    background-size: 400% 400%;
    position: relative;
	animation: cambiar 9s linear infinite;
    
    .fondodelCarrusel{
        width: 100%;
        height: 470px;
        background: linear-gradient(to left, rgb(69, 2, 2), rgb(121, 3, 3), rgb(47, 2, 2));
        #carouselExampleAutoplaying{
            width: 50%;
            height: 100%;
            margin: auto;            
            .carousel-item{
                height: 100%; 
                    img{
                        height: 100%; 
                    }        
            }
            .carousel-control-prev{
                background-color: black;
                width: 3%;
            }
            .carousel-control-next{
                background-color: black;
                width: 3%;
            }
        }
            
    }
    #noticias{
        background-color: white;
        width: 75%;
        height: 2300px;
        margin-left: auto; 
        margin-right: auto;
        margin-top: 100px;
        .titulo-principal{
            font-family: 'Roboto Condensed';
            font-size: 45px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            color: black;
            font-weight: 480;
            padding-top: 40px;
            padding-bottom: 20px;
            background-color:rgb(255, 251, 245);
        }
        
        .noticia-principal{
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 40px;
            border-bottom: solid 1px rgba(145, 144, 144, 0.912);
            
            img{ 
                height:400px;
            }
            .texto-noticiaPrincipal{
                color: black;
                h3{
                    font-family: 'Roboto Condensed';
                    font-size: 40px;
                }
                p{
                    font-family: 'Alegreya';
                    font-size: 18px;
                }
                
            }
            .sub-texto{
                color: grey;
                font-size: small;
            }
        }
        
        .noticias-contenedor{
            margin:20px 200px 0px 200px ;
            padding-bottom: 40px;
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            border-bottom: solid 1px grey;
            .noticias-tarjeta1{
                width: 60%;
                padding: 30px 30px 50px 30px;
                box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.13);
                -webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.13);
                -moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.13);
                .sub-texto{
                    color: rgb(121, 121, 121);
                    font-size: small;
                }
                img{
                    width: 100%;
                }
                h3{
                    color: black;
                }
                p{
                    color: black;
                    font-family: 'Alegreya';
                    font-size: 16px;
                }
            }
            .sub-texto{
                color: rgb(127, 50, 50);
                font-size: small;
            }
        }
        .noticias-contenedor2{
            margin:20px 200px 0px 200px ;
            padding-bottom: 40px;
            width: 70%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            .noticias-tarjeta1{
                width: 60%;
                padding: 30px 30px 50px 30px;
                box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.13);
                -webkit-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.13);
                -moz-box-shadow: 10px 10px 5px -1px rgba(0,0,0,0.13);
                .sub-texto{
                    color: rgb(121, 121, 121);
                    font-size: small;
                }
                img{
                    width: 100%;
                }
                h3{
                    color: black;
                }
                p{
                    color: black;
                    font-family: 'Alegreya';
                    font-size: 16px;
                }
            }
            .sub-texto{
                color: rgb(127, 50, 50);
                font-size: small;
            }
        }    
        
    }
    .slider{
        width: 100%;
        height: 220px;
        align-items: center;
        margin: auto;
        margin-top: 30px !important;
        overflow:hidden;
        background-color:transparent;
        .slide-track{
            display: flex;
            justify-content: center;
            animation: scroll 20s linear infinite;
            -webkit-animation: scroll 20s linear infinite;
            width: calc( 200px * 18);
            .slide{
                width: 200px;
                padding: 0px 30px;
                img{
                    width: 100%;
                }
            }
        }
    }
    
}