#main-sobreNos{
    height: 1800px;
    width: 100%;
    background: linear-gradient(45deg,rgb(54, 4, 4), rgb(143, 3, 3), rgb(54, 4, 4),rgb(160, 2, 2) );
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 9s linear infinite;
        h3{
            display: flex;
            justify-content: center;
            font-family: 'Bebas Neue';
            font-weight: bold;
            font-size: 50px;
            font-weight: 450;
            color: #fdc6c1;
            padding-top: 60px;
        }
        .subtitulo-sobre{
            width: 100%;
            height: 4%;
            background-color: black ;
            margin-top: 40px;
            p{
                display: flex;
                justify-content: center;
                padding-top:25px;
                color:white;
            }
        }
        section{
            // width: 80%;
            margin-top:50px;
            margin-left: 100px;
            display: flex;
            flex-direction: row;
            .mapa{
                width: 700px;
                height: 400px;
                p{
                    color: white;
                    font-family: 'Alegreya';
                    font-size:medium;
                    
                }
                iframe{
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                }
            }
            .texto-sobreNos{
                width: 50%;
                margin-top: 50px;
                margin-left:20px;
                .quienesNosomos{
                    font-family: 'Alegreya';
                    font-size: 26px;
                    font-weight: 400;
                    color: white;
                }
                p{
                    color: white;
                    font-size: 16px;
                }
            }
        }
        .entrevistas{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 80px;
            margin-left: 0px;
            p{
                display: flex;
                justify-content: center;
                color: white;
                font-family: 'Bebas Neue';
                font-size: 20px;
            }
            div{
                display: flex;
                flex-direction: row;
                justify-content: center;
                .video1{
                    padding-right: 12px;
                }
                .video2{
                    padding-left: 12px;
                }

            }
        }
        .comentarios{
            width: 70%;
            height: 30%;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            h5{
                font-family: 'Alegreya';
                font-size: 30px;
                text-transform:uppercase ;
                margin-left: 10px;
                display: flex;
                justify-content: center;
            }
            .primerComentario{
                display: flex;
                flex-direction: row-reverse;
                height: max-content;
                margin-top: 25px;
                margin-right: 20px;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                }
                .texto-comentario{
                    margin-right: 10px;
                    background-color: rgba(128, 128, 128, 0.169);
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    height: 60px;
                    width: 700px;
                    p{
                        margin-left: 10px;
                        font-size: 20px;
                    }
                    div{
                        display: flex;
                        flex-direction: row-reverse;
                        
                        
                        a{
                            display: flex;
                            flex-direction: row;
                            justify-content:space-around;
                            text-decoration: none;
                            color:black;
                            background-color: rgba(152, 152, 152, 0.505);
                            border-radius: 10px;
                            width: 40px;
                            margin-top: -10px;
                            height: max-content;
                            font-size: 14px;
                            img{
                                width: 15px;
                                height: 15px;
                                margin-top: 5px;
                                
                            }
    
                        }
                        p{
                            font-size: 14px;
                            margin-top: -10px;
                            background-color: rgba(152, 152, 152, 0.418);
                            border-radius: 5px;
                            margin-right: 9px;

                        }
                        span{
                            font-size: 14px;
                            margin-top: -10px;
                            margin-left: 10px;
                            color: rgba(129, 128, 128, 0.71);
                        }
                    }
                    
                }
            }
            .segundoComentario{
                display: flex;
                flex-direction: row;
                height: max-content;
                margin-top: 40px;
                margin-left: 20px;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                }
                .texto-comentario{
                    margin-left: 10px;
                    background-color: rgba(128, 128, 128, 0.169);
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    height: 60px;
                    width: 600px;
                    p{
                        margin-left: 10px;
                        font-size: 20px;
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        
                        
                        a{
                            display: flex;
                            flex-direction: row;
                            justify-content:space-around;
                            text-decoration: none;
                            color:black;
                            background-color: rgba(152, 152, 152, 0.505);
                            border-radius: 10px;
                            width: 40px;
                            margin-top: -10px;
                            height: max-content;
                            img{
                                width: 15px;
                                height: 15px;
                                margin-top: 5px;
                                
                            }
    
                        }
                        p{
                            font-size: 14px;
                            margin-top: -10px;
                            background-color: rgba(152, 152, 152, 0.418);
                            border-radius: 5px;
                        }
                        span{
                            font-size: 14px;
                            margin-top: -10px;
                            margin-left: 10px;
                            color: rgba(129, 128, 128, 0.71);
                        }
                    }
                    
                }
            }
            .tercerComentario{
                display: flex;
                flex-direction:row;
                height: max-content;
                margin-top: 40px;
                margin-left: 20px;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                }
                .texto-comentario{
                    margin-left: 10px;
                    background-color: rgba(128, 128, 128, 0.169);
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    height: 60px;
                    width: 650px;
                    p{
                        margin-left: 10px;
                        font-size: 20px;
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        
                        
                        a{
                            display: flex;
                            flex-direction: row;
                            justify-content:space-around;
                            text-decoration: none;
                            color:black;
                            background-color: rgba(152, 152, 152, 0.505);
                            border-radius: 10px;
                            width: 40px;
                            margin-top: -10px;
                            height: max-content;
                            img{
                                width: 15px;
                                height: 15px;
                                margin-top: 5px;
                                
                            }
    
                        }
                        p{
                            font-size: 14px;
                            margin-top: -10px;
                            background-color: rgba(152, 152, 152, 0.418);
                            border-radius: 5px;
                        }
                        span{
                            font-size: 14px;
                            margin-top: -10px;
                            margin-left: 10px;
                            color: rgba(129, 128, 128, 0.71);
                        }
                    }
                    
                }
            }
            .cuartoComentario{
                display: flex;
                flex-direction: row;
                height: max-content;
                margin-top: 40px;
                margin-left: 20px;
                img{
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                }
                .texto-comentario{
                    margin-left: 10px;
                    background-color: rgba(128, 128, 128, 0.169);
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    height: 60px;
                    width: 600px;
                    p{
                        margin-left: 10px;
                        font-size: 20px;
                    }
                    div{
                        display: flex;
                        flex-direction: row;
                        
                        
                        a{
                            display: flex;
                            flex-direction: row;
                            justify-content:space-around;
                            text-decoration: none;
                            color:black;
                            background-color: rgba(152, 152, 152, 0.505);
                            border-radius: 10px;
                            width: 40px;
                            margin-top: -10px;
                            height: max-content;
                            img{
                                width: 15px;
                                height: 15px;
                                margin-top: 5px;
                                
                            }
    
                        }
                        p{
                            font-size: 14px;
                            margin-top: -10px;
                            background-color: rgba(152, 152, 152, 0.418);
                            border-radius: 5px;
                        }
                        span{
                            font-size: 14px;
                            margin-top: -10px;
                            margin-left: 10px;
                            color: rgba(129, 128, 128, 0.71);
                        }
                    }
                    
                }
            }
            .caja-Comentario{
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-top: auto;
                img{
                    width: 30px;
                    height: 30px;
                    margin-left: 3px;
                }
                .relleno-textoComentario{
                    width: 100%;
                    height: max-content;
                    input{
                        width: 95%;
                        background-color: rgba(49, 49, 49, 0.319);
                        border: 0px solid transparent;
                        border-radius: 5px;
                        margin-left: 4px;
                    }
                    button{
                        width: 4%;
                        height: 28px;
                        background-color: rgba(0, 0, 130, 0.809);
                        border: 0px solid transparent;
                        border-radius: 4px;
                        margin-bottom:2px ;
                        img{
                            width: 20px;
                            height: 20px;
                            align-items: center;
                        }
                        
                    }
                }
            }
        }

        @include mediaquery-mobile(){
            height: 2800px;
            .subtitulo-sobre{
                p{
                    display: flex;
                    justify-content: center;
                    padding-top:20px;
                    color:white;
                    font-family: 'Alegreya';
                    font-size: 16px;
                    text-align: center;
                }
            }
            section{
                width: 100%;
                margin-top:50px;
                margin-left: 0px;
                display: flex;
                flex-direction: column-reverse;
                .mapa{
                    width: 100%;
                    height: 400px;
                    margin-top: 40px;
                    p{
                        color: white;
                        font-family: 'Alegreya';
                        font-size:medium;
                        
                    }
                    iframe{
                        width: 100%;
                        height: 100%;
                        border-radius: 15px;
                    }
                }
                .texto-sobreNos{
                    width: 100%;
                    margin-top: 50px;
                    margin-left:0px;
                    .quienesNosomos{
                        font-family: 'Alegreya';
                        font-size: 26px;
                        font-weight: 400;
                        color: white;
                        display: flex;
                        justify-content: center;
                    }
                    p{
                        color: white;
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
            .entrevistas{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-top: 120px;
                margin-left: 0px;
                p{
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-family: 'Bebas Neue';
                    font-size: 20px;
                    text-align: center;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .video1{
                        width: 100%;
                        padding-right: 0px;
                    }
                    .video2{
                        width: 100%;
                        padding-left: 0px;
                        padding-top: 6px;
                    }
    
                }
            }
            .comentarios{
                width: 100%;
                height: 20%;
                margin-left: 0px;
                margin-right: 0px;
                .primerComentario{
                    margin-top: 25px;
                    margin-right: 20px;
                    .texto-comentario{
                        margin-right: 10px;
                        height: 60px;
                        width: 700px;
                        p{
                            font-size: 13px;
                        }
                        div{                    
                            a{
                                font-size: 10px;
                                img{
                                    width: 12px;
                                    height: 12px;
                                    margin-top: 1px;                                    
                                }
        
                            }
                            p{
                                font-size: 10px;
                                margin-right: 9px;
    
                            }
                            span{
                                font-size: 11px;
                                margin-top: -10px;
                            }
                        }
                        
                    }
                }
                .segundoComentario{
                    margin-top: 60px;
                    margin-left: 2px;
                    img{
                        width: 95px;
                        height: 60px;
                    }
                    .texto-comentario{
                        height: 60px;
                        width: 600px;
                        margin-left: 5px;
                        p{
                            font-size: 13px;
                        }
                        div{
                            a{
                                margin-top: 10px;
                                font-size: 10px;
                                img{
                                    width: 12px;
                                    height: 12px;
                                    margin-top: 1px;
                                    
                                }
        
                            }
                            p{
                                font-size: 10px;
                                margin-top: 10px;
                            }
                            span{
                                margin-top: 10px;
                                font-size: 11px;
                            }
                        }
                        
                    }
                }
                .tercerComentario{
                    margin-top: 60px;
                    margin-left: 2px;
                    img{
                        width: 95px;
                        height: 60px;
                    }
                    .texto-comentario{
                        height: 60px;
                        width: 600px;
                        margin-left: 5px;
                        p{
                            font-size: 13px;
                        }
                        div{
                            a{
                                margin-top: 10px;
                                font-size: 10px;
                                img{
                                    width: 12px;
                                    height: 12px;
                                    margin-top: 1px;
                                    
                                }
        
                            }
                            p{
                                font-size: 10px;
                                margin-top: 10px;
                            }
                            span{
                                margin-top: 10px;
                                font-size: 11px;
                            }
                        }
                        
                    }
                }
                .cuartoComentario{
                    margin-top: 60px;
                    margin-left: 2px;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                    .texto-comentario{
                        height: 60px;
                        width: 600px;
                        margin-left: 5px;
                        p{
                            font-size: 13px;
                        }
                        div{
                            a{
                                margin-top: 10px;
                                font-size: 10px;
                                img{
                                    width: 12px;
                                    height: 12px;
                                    margin-top: 1px;
                                    
                                }
        
                            }
                            p{
                                font-size: 10px;
                                margin-top: 10px;
                            }
                            span{
                                margin-top: 10px;
                                font-size: 11px;
                            }
                        }
                        
                    }
                }
                .caja-Comentario{
                    width: 100%;
                    img{
                        width: 30px;
                        height: 30px;
                        margin-left: 3px;
                    }
                    .relleno-textoComentario{
                        width: 100%;
                        input{
                            width: 90%;
                        }
                        button{
                            width: 7%;
                            height: 22px;
                            img{
                                width: 12px;
                                height: 12px;
                            }
                            
                        }
                    }
                }
            }
        }
}