footer{
    background: linear-gradient(to left, rgb(229, 3, 3), rgb(255, 157, 19), rgb(220, 2, 2)) ;
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        bottom: 0px;
        p{
            margin-top:7px;
            margin-left: 45%;
        }
        .logos-footer{
            display: flex;
            flex-direction: row;
            align-items: center;
            a{
                list-style-type: none;
                img{
                    padding: 0px 5px;
                    width: 35px;
                    height: 24px;
                }
            }
        }
    }
}