header{
    background: linear-gradient(to left, rgb(229, 3, 3), rgb(255, 157, 19), rgb(220, 2, 2)) ;
    top: 0px; 
    position: sticky;
    .container-fluid{
        h1{
            font-family: 'Roboto Condensed';
            font-size: 25px;
        }
        .navbar-collapse{
            font-family: 'Roboto Condensed';
            font-size: 18px;
            display: flex;
            justify-content: end;
            a{
                &:hover{
                    color: white;
                }
            }
        }
    }
    // div{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     h1{
    //         font-size: 40px; 
    //     }
    // }
    // ul{
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     list-style-type: none;
    //     li{
    //         a{
    //             padding: 0px 12px;
    //             color: white;
    //             text-decoration: none;
    //         }
    //     }
    // }
}