header{
    background: linear-gradient(to left, rgb(141, 4, 4), rgb(94, 1, 1), rgb(141, 4, 4)) ; 
    // rgba(171, 1, 1, 0.912)
    position: sticky;
    top: 0px;
    z-index: 2;
    .container-fluid{
        h1{
            font-family: 'Roboto Condensed';
            font-size: 25px;
        }
        .navbar-collapse{
            font-family: 'Roboto Condensed';
            font-size: 18px;
            justify-content: end;
            a{
                &:hover{
                    color: black;
                }
            }
        }
    }
    
}